body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #e1ceaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse-left {
  0% {
    height: 0;
    width: 0;
    margin: -40px 0 0 0;
    left: 0px;
    z-index: 1;
  }
  25% {
    width: 100px;
    height: 100px;
    margin: -90px 0 0 0;
    left: -90px;
    z-index: 2;
  }
  50% {
    width: 100px;
    height: 100px;
    margin: -90px 0 0 0;
    left: 120px;
    z-index: 2;
  }
  75% {
    height: 0;
    width: 0;
    margin: -40px 0 0 0;
    left: 120px;
    z-index: 1;
  }
  100% {
    height: 0;
    width: 0;
    margin: -40px 0 0 0;
    left: 0px;
    z-index: 1;
  }
}

@keyframes pulse-right {
  0% {
    height: 100px;
    width: 100px;
    margin: -90px 0 0 0;
    right: -90px;
    z-index: 2;
  }
  25% {
    width: 0px;
    height: 0px;
    margin: -40px 0 0 0;
    right: 0px;
    z-index: 1;
  }
  50% {
    width: 0px;
    height: 0px;
    margin: -40px 0 0 0;
    right: 120px;
    z-index: 1;
  }
  75% {
    height: 100px;
    width: 100px;
    margin: -90px 0 0 0;
    right: 120px;
    z-index: 2;
  }
  100% {
    height: 100px;
    width: 100px;
    margin: -90px 0 0 0;
    right: -90px;
    z-index: 2;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  animation: rotation 5s linear infinite;
}

.circle {
  animation: rotation 5s linear infinite;
}

.circle::before,
.circle::after {
  animation: pulse-right 2s infinite 
  cubic-bezier(.8, .2, .2, .8);
}

.circle::before {
  animation: pulse-left 2s infinite 
  cubic-bezier(.9, .1, .1, .9);
}

.circle::before,
.circle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin: -40px 0 0 0;
  display: inline-block;
  width: 0;
  height: 0;
  border: 40px solid #b2373b;
  border-radius: 50%;
  box-shadow: 0 0 16px rgba(0, 0, 0, .09);
  animation: pulse-right 2s infinite cubic-bezier(.8, .2, .2, .8);
}

.circle::before {
  right: auto;
  left: 0;
  animation: pulse-left 2s infinite cubic-bezier(.9, .1, .1, .9);
}
