html,body{
  height: 100%;
}

body {
  background-color: #1c1c1c;
  overflow: hidden;
}
nav{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  padding: 0;
  list-style: none;
  width: 580px;
  height: 250px;
  display: flex;
  gap: 15px;
  transform: rotate(-25deg) skew(20deg);
}

ul li {
  position: relative;
  background-color: #292929;
  width: 25%;
}

ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -9px;
  background-color: #242424;
  height: 100%;
  width: 9px;
  transform-origin: right;
  transform: skewY(-45deg);
}

ul li::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #242424;
  width: 100%;
  height: 10px;
  transform-origin: top;
  transform: skewX(-45deg);
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, .2);
  width: 100%;
  height: 100%;
  font-size: 3em;
  transition: .4s;
}

li:hover a span {
  transition: .5s;
  color: rgba(255, 255, 255, 1);
}

li:hover > a span:nth-of-type(1) {transform: translate(10px, -10px);}
li:hover > a span:nth-of-type(2) {transform: translate(20px, -20px);}
li:hover > a span:nth-of-type(3) {transform: translate(30px, -30px);}
li:hover > a span:nth-of-type(4) {transform: translate(40px, -40px);}
li:hover > a span:nth-of-type(5) {transform: translate(50px, -50px);}

a span:nth-of-type(1) {opacity: .2;}
a span:nth-of-type(2) {opacity: .4;}
a span:nth-of-type(3) {opacity: .6;}
a span:nth-of-type(4) {opacity: .8;}
a span:nth-of-type(5) {opacity: 1;}

li:nth-of-type(1){
  z-index: 4;
}
li:nth-of-type(2){
  z-index: 3;
}
li:nth-of-type(3){
  z-index: 2;
}
li:nth-of-type(4){
  z-index: 1;
}
li:nth-of-type(1):hover span {
  background-color: #d6246b;
}

li:nth-of-type(2):hover span {
  background-color: #3b5998;

}

li:nth-of-type(3):hover span {
  background-color: #0077f2;
}

li:nth-of-type(4):hover span {
  background-color: #6441a5;
}
